@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Metal+Mania&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-secondary: 9 0 42;
    --color-secondary-90: 40 30 77;
    --color-secondary-70: 20 14 56;
    --color-primary: 177 84 240;
    /* ... */
  }
}

body {
  font-family: "Exo", sans-serif;
  overflow: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.exo-i {
  font-family: "Exo", sans-serif !important;
}
.metal {
  font-family: "Metal Mania", cursive;
}

.text-shadow {
  text-shadow: 3px 3px 0 #b154f0;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border: 10px solid transparent;
}
::-webkit-scrollbar-track:hover {
  border: 10px solid rgba(0, 0, 0.5, 0.2);
}
::-webkit-scrollbar-thumb {
  background: #b154f0;
  border-radius: 50px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Slick Slider */
.slick-track {
  display: flex;
  gap: 2rem;
}
@media (max-width: 767px) {
  .slick-track {
    gap: 0;
  }
}
/* Slick Slider */
